# Executables
*.exe
*.exe~

# Result files
*_results_*.txt
*_scan_results_*.txt

# Binaries
*.bin
*.com
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work
